:root {
  --color-primary-light: #96bd90;
  --color-primary: #2b5624;
  --color-primary-dark: #1c3119;

  --color-secondary-light: #f9e3a3;
  --color-secondary: #ebb922;
  --color-secondary-dark: #a5821b;
}